<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

	<link rel='stylesheet' href='/css/style.css' />
</head>
<body>

	<h1><%= title %></h1>
    <p>Bienvenue dans <%= title %></p>
    <br>
    <p>Aller au <a href="./sandbox">bac à sable Isomer</a></p>
</body>
</html>